
{% extends './layouts/base.html' %}
{% load static %}

{% block styles %}
    <link rel = 'stylesheet' href = "{% static 'css/galeria.css' %}">
{% endblock %}


{% block title %}Galeria{% endblock%}

{% block content%}

<article class='post-foto'>
    <img src="{% static 'img/test.jpeg' %}" alt='Imagen' class='imagen'>
    <h2>NOTICIA 1</h2>
    <p>
        {% lorem 1 %}
    </p>
    </article>
<article class='post-foto'>
    <img src="{% static 'img/test.jpeg' %}" alt='Imagen' class='imagen'>
    <h2>NOTICIA 1</h2>
    <p>
        {% lorem 1 %}
    </p>
</article>
<article class='post-foto'>
    <img src="{% static 'img/test.jpeg' %}" alt='Imagen' class='imagen'>
    <h2>NOTICIA 1</h2>
    <p>
        {% lorem 1 %}
    </p>
</article>
{% endblock %}
