{% extends './layouts/base.html' %}
{% load static %}

{% block title %}
        Inicio - Rocha García Mariano{% endblock %}
{% block styles %}
    <link rel = 'stylesheet' href = "{% static 'css/inicio.css' %}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <img src="{% static 'img/logo.jpg' %}" alt='Logo' class="logo">
        <h2 class="main-title">Rocha García Mariano</h2>
        <p class="description">
            La presente página web tiene como propósito 
            presentar mediante dos secciones las lecciones
            aprendidas durante el curso.
        </p>
    </div>
{% endblock %}